html,body,div,p,h1,h2,h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2 {
    text-align: center;
    margin: 0.5em;
    z-index: 2;
}
h3.uid {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #999;
    font-size: 0.8em;
}
body {
    padding-top: 3em;
}


.drawing-info {
    width: 96%;
    position: absolute;
    bottom: 2em;
}
body.entered {
    background-color: #ff7;
}
.entrant {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    background: #ff7;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: help;
    z-index: -1;
}


form {
    margin: 4em auto;
    z-index: 2;
}
input {
    width: 80%;
    margin: 0.5em 10%;
    font-size: 2em;
    z-index: 3;
}
[type=submit], [type=button] {
    background: rgb(130, 224, 255);
    border: 1px solid rgb(130, 224, 255);
    padding: 1em 2em;
}
[type=submit]:hover, [type=button]:hover {
    background: rgb(100, 204, 235);
    border: 1px solid rgb(130, 130, 130);
    cursor: pointer;
}


.messages {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
    width: 96%;
    position: absolute;
    top: 1em;
    z-index: 3;
}
.error {
    color: #600;
}
.success {
    color: #060;
}
.info {
    color: #006;
}