html,body,div,p,h1,h2,h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2 {
    text-align: center;
    margin: 0.5em;
    z-index: 2;
}
h3.uid {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #999;
    font-size: 0.8em;
}
body {
    padding-top: 3em;
}


.drawing-info {
    width: 96%;
    position: absolute;
    bottom: 2em;
}
body.entered {
    background-color: #ff7;
}
.entrant {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    background: #ff7;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: help;
    z-index: -1;
    box-shadow: -2px -1px 3px #333;
}


form {
    margin: 4em auto;
    z-index: 2;
    text-align: center;
}
input {
    width: 80%;
    margin: 0.5em 10%;
    font-size: 2em;
    z-index: 3;
}
[type=submit], [type=button] {
    background: rgb(130, 224, 255);
    border: 1px solid rgb(130, 224, 255);
    padding: 1em 2em;
}
[type=submit]:hover, [type=button]:hover {
    background: rgb(100, 204, 235);
    border: 1px solid rgb(130, 130, 130);
    cursor: pointer;
}


@-webkit-keyframes fadeIt {
  0%   { background-color: #060; }
  100% { background-color: #ff7; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #060; }
  100% { background-color: #ff7; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #060; }
  100% { background-color: #ff7; }
}
@keyframes fadeIt {
  0%   { background-color: #060; }
  100% { background-color: #ff7; }
}

.maybe {    
    background-image: none !important;
    -webkit-animation: fadeIt 2s ease-out;
    -moz-animation: fadeIt 2s ease-out;
    -o-animation: fadeIt 2s ease-out;
    animation: fadeIt 2s ease-out;
}
.winner {
    background-color: #9f9 !important;
}

@-webkit-keyframes pulse {
  50%  { transform: scale(3); }
}
@-moz-keyframes pulse {
  50%  { transform: scale(3); }
}
@-o-keyframes pulse {
  50%  { transform: scale(3); }
}
@keyframes pulse {
  50%  { transform: scale(3); }
}
figure.winner {
    -webkit-animation: pulse 2s ease-in-out infinite;
    -moz-animation: pulse 2s ease-in-out infinite;
    -o-animation: pulse 2s ease-in-out infinite;
    animation: pulse 2s ease-in-out infinite;
}

.entry-url {
    position: absolute;
    top: 0.5em;
    right: 1em;
    text-align: right;
    font-size: 2em;
}
.entry-url:link, .entry-url:visited {
    color: #090;
    text-decoration: none;
}
.actions {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    font-size: 1.5em;
}
.actions :link {
    text-decoration: none;
    color: #66f;
}
.actions :hover {
    text-decoration: underline;
}

.messages {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
    width: 96%;
    position: absolute;
    top: 1em;
    z-index: 3;
}
.error {
    color: #600;
}
.success {
    color: #060;
}
.info {
    color: #006;
}